
.fade-left-in {

    animation: fade-left-in .3s cubic-bezier(0.5, 1, 0.89, 1) both;
    animation-delay: 0.3s;
}

.fade-right-in {
    animation: fade-right-in .3s cubic-bezier(0.5, 1, 0.89, 1) both;
    animation-delay: 0.3s;
}


.shake {
	animation: shake .3s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation-delay: 0.3s;
}

.text-pop-right {
	animation: text-pop-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 0.3s;
}

@keyframes shake{
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: rotate(-6deg);
  }
  30% {
    transform:  rotate(6deg);
  }
  45% {
    transform:  rotate(-3.6deg);
  }
  60% {
    transform:  rotate(2.4deg);
  }
  75% {
    transform:  rotate(-1.2deg);
  }
}



@keyframes fade-left-in {
    0% {
        transform: translateX(10%);
        opacity:0;
    }

    100% {
        transform: translateX(0%);
        opacity:1;
    }
}



@keyframes fade-right-in {
    0% {

        transform: translateX(-10%);
        opacity:0;
    }

    100% {
        transform: translateX(0);
        opacity:1;
    }
}




@keyframes text-pop-right {
    0% {
      transform: translateY(0);
      transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      transform: translateY(-25px);
      transform-origin: 50% 50%;
      text-shadow: 0 5px 0 $colortext02, 0 10px 0 $colortext01;
    }
  }