.c-title{
    font-family: $font-family02;
    @include font-line(32, 32);
    padding: 0 0 25px;

    @include is-tablet{
        @include font-line(40, 40);
    }
    @include is-pc{
        @include font-line(48, 48);
        padding: 0 0 50px;
    }
}


.c-title02{
    font-family: $font-family02;
    @include font-line(28,28);
    @include is-pc{
        @include font-line(36,36);
        padding: 0 0 40px;
    }
}